.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
**/out/
packages/language/src/generated/
packages/vscode-extension/syntaxes/
static/bundle/
static/monaco-editor-workers/
static/worker/
syntaxes/
**/*.tsbuildinfo
**/bundle.js
